<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @group.group_type %>
</p>

<p><strong>Members:</strong>
<div class="well">
<% @group.contacts.each do |c| %>
  <%= "#{c.name} <#{c.phone_number}>" %><br>
<% end %>
</div>
