<td>
  <%= link_to user.email, edit_user_path(user) %>
</td>
<td>
  <% user.roles.each do |h|
    color = "grey"
    case h.name
    when "admin"
      color = "red"
    when "chat"
      color = "blue"
    when "user"
      color = "green"
    end %>
    <span style="color:<%=color%>"><%=glyph(:user)%></span>
    <% end %>
</td>
<td class="rowlink-skip">
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>
